@font-face {
    font-family: tilt;
    src: url("../../fonts/Tilt_Warp/TiltWarp.ttf");
}
@font-face {
    font-family: rooto;
    src: url("../../fonts/Rooto/Roboto.ttf");
}
@font-face {
    font-family: alex;
    src: url("../../fonts/Alex_Brush/Alex.ttf");
}