.fa-star{

        color:var(--color-bold-1)

}

.yasmin{
    display: inline-block;
    color:var(--color-bold-2);
    // transform: rotate(45deg);
    transition: all .4s;
    // z-index: 3;
    &:hover{
        -webkit-box-shadow: 5px 3px 34px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 3px 34px -4px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 3px 34px -4px rgba(0, 0, 0, 0.75);
        transform: rotate(4deg) scale(1.1);    
        
   }

}