@use "../base";


.burito{
    &__title{
        font-family: tilt, sans-serif;
        font-size: 1.5rem;
        grid-row: 1/2;
        grid-column:1/-1;
        padding: 3rem 0;
        // letter-spacing: .4rem;
        &--curve{
            font-family: alex, sans-serif;
            font-size: 8rem;

        }
      

    }
}